<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link th:href="@{/style.css}" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Admin Login</h2>
                <p>Please enter your username and password</p>
            </div>
            <form id="Login" th:action="@{/loginProcess}" method="post" role="form" th:object="${user}">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Username" name="userName" th:field="*{userName}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password" th:field="*{password}">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <small class="text-danger" th:text="${session.error}"></small>
            </form>
        </div>
    </div>
</div>
</body>
</html>